<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="viewport-fit=cover,width=device-width,initial-scale=1,user-scalable=0">
    <meta name="description" content="Geunhyeok LEE's Business Card">
    <title>Hello!</title>
    <!--[if IE]><link rel="icon" href="<%= htmlWebpackPlugin.options.publicPath %>favicon.ico"><![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Do+Hyeon" crossorigin="anonymous">
    <link rel="icon" href="<%= htmlWebpackPlugin.options.publicPath %>favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.publicPath %>favicon-32x32.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.publicPath %>manifest.json">
    <meta name="apple-mobile-web-app-title" content="Card">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.publicPath %>icons/apple-touch-icon.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.options.publicPath %>splash/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <title>Hello</title>
  </head>
  <body>
    <div id="app">
      <div id="card" class="card">
        <div id="me" class="card__me">
          <div class="logo">
            <img id="logo">
          </div>
          <div class="name">
            <p>Geunhyeok LEE</p>
            <p class="small">Makes Web Better</p>
          </div>
        </div>
        <div id="info" class="card__info">
          <p class="github">leegeunhyeok</p>
          <p class="email">dev.ghlee@gmail.com</p>
        </div>
      </div>
      <div id="menu" class="menu">
        <div id="menu_open" class="menu__open">
          <span></span>
          <span></span>
        </div>
        <div class="menu__wrap">
          <div id="save" class="menu__item-4">
            <div class="menu__item__panel">Save to Image</div>
          </div>
        </div>
        <div class="menu__wrap">
          <div id="save" class="menu__item-4">
            <div class="menu__item__panel">
              <p>Share</p>
              <img src="<%= htmlWebpackPlugin.options.publicPath %>images/qrcode.png">
            </div>
          </div>
        </div>
        <div class="menu__wrap">
          <div class="menu__item-2">
            <div id="blog" class="menu__item__panel">Blog</div>
          </div>
          <div class="menu__item-2">
            <div id="source" class="menu__item__panel">Source</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
